<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>
<body>
  <header>
    <nav>
      <a href="/books/new">
        <button>add books</button>
      </a>
      <a href="/">
        <button>Book store</button>
      </a>
    </nav>
  </header>
  <main>
    <h1>List of Books</h1>
    <% books.forEach(book=>{ %>
       <h2><%= book.title %></h2>
       <a href="/books/<%= book._id %>">
         <button>show details</button>
       </a>
       <div>
       <a href="/books/<%= book._id %>/delete">
         <button>Delete</button>
       </a>
    </div>
    <% })%>
  </main>
</body>
</html>