<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="/">
      <h2>Book Store</h2>
    </a>
    <nav>
      <a href="/books">
        <button>Back</button>
      </a>
    </nav>
  </header>
  <main>
    <div>
      <form action="/comments/<%= comment.id %>" method="POST">
        <h2>Update comment</h2>
        <textarea name="content" id="" cols="30" rows="3">
          <%= comment.content %>
        </textarea>
        <div>
          <button type="submit">Update comment</button>
        </div>
      </form>
    </div>
  </main>
</body>
</html>