<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>users</title>
</head>
<body>
  <header>
   <div>
     <h1>Article form</h1>
     <nav>
       <a href="/users">
         <button>Back</button>
       </a>
     </nav>
    </div>
  </header>
  <main>
    <div>
      <form action="/users/new" method="POST">
        <h2>Add article</h2>
        <input type="text" name="title" placeholder="name of the title">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="tags" placeholder="tags">
        <input type="text" name="author" placeholder="author">
        <input type="submit">
        <!-- <div>
          <button type="submit">Add user</button>
        </div> -->
      </form>
    </div>
  </main>

</body>
</html>